<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxCOLyE7h1hpW2zQc9-aI0Q-eoFxwxpsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>480995849705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drodriguez0233.semana08</string>
	<key>PROJECT_ID</key>
	<string>semana08-64a4a</string>
	<key>STORAGE_BUCKET</key>
	<string>semana08-64a4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480995849705:ios:222549924553ec19e20778</string>
</dict>
</plist>